div.gradenInvoer{
    width: 100%;
    max-width: 400px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
div.gradenInvoerNaam {
    width: 100%;
    line-height: 2em;
    background-color: #800000;
    color: #FFF8DC;
    font-weight: bold;
}
p {
    margin: 0 0 10px;
}
form {
    display: block;
    margin-top: 0em;
}
.invoer_arg {
    width: 50%;
    float: left;
    margin-bottom: 1em;
}
div#knoppen {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    overflow: hidden;
}
.knop {
    width: 25%;
    float: left;
}